.main-div{
    margin:0 !important;
    padding:0 !important;
    box-sizing: border-box !important;
}

.flex-sec{
    display: flex !important;
    flex-direction: row !important;
    width:90%;
    height:auto;
    /* border:2px solid grey; */
    border-radius:5px;
    margin-right: auto;
    margin-left: auto;

   
    
  }

  .left-sec{
   /* border-right:5px solid grey; */
   width:300px;
   height:300px;
   background-image:url(../images/b3.jpg);   
   background-attachment: fixed; 
   background-size: cover;
   /* border-radius: 15px 50px 30px 5px; */
   transform: skewX(-10deg);
   padding-right:100px;

  }


  .right-sec{
    padding-left:100px;
  }

  .progress2{
    display: none;
  }

  .flex-sec:hover .progress1{
    display: none;
  }

  .flex-sec:hover .progress2{
    display: block;
  }

/*middlesection*/
.middlesection{
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top:25px;
    margin-bottom:5px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    padding:10px;
   }
   
 
   
   .div1-middle{
       width:30%;
       height:300px;
       background-image: url(../images/b5.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       border-radius:10px;
       border:1px solid grey;

   }
 
   .div2-middle{
    width:30%;
    height:300px;
    background-image: url(../images/b3.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:10px;
    border:1px solid grey;

 }
 
 .div3-middle{
    width:30%;
    height:300px;
    background-image: url(../images/b1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:10px;
    border:1px solid grey;

 }
 
 .overlay1, .overlay2, .overlay3{
    display: none;
 }

 .div1-middle:hover{
    transform: scale(1.1, 1.1);
    outline:2px solid lightgrey;
    transition:1s;
    margin-right:10px;
    margin-left:10px;
    opacity:0.5;
  }


  .div1-middle:hover .overlay1{
    display: block;
    margin-top:100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .div2-middle:hover .overlay2{
    display: block;
    margin-top:100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .div3-middle:hover .overlay3{
    display: block;
    margin-top:100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .div2-middle:hover{
    transform: scale(1.1, 1.1);
    outline:2px solid lightgrey;
    transition:1s;
    margin-right:10px;
    margin-left:10px;
    opacity:0.5;
  }

.div3-middle:hover{
    transform: scale(1.1, 1.1);
    outline:2px solid lightgrey;
    transition:1s;
    margin-right:10px;
    margin-left:10px;
    opacity:0.5;
  }
 
 /***/
 
 
 
 .endsection{
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  width:80%;
  margin-right: auto;
  margin-left: auto;
  padding:3px;
  margin-top:25px;
 }
 
 .div1-end{
     width:500px;
     height:300px;
     text-align: justify;
     text-justify: inter-word;
     padding-right: 8px;
 
 }
 
 .div2-end{
     width:300px;
     height:300px;
     background-image: url(../images/b4.JPG);
     /* background-attachment: fixed; */
     background-size: cover;
     background-repeat: no-repeat;
     border-radius:25% 0 0 25%;
     margin-left: auto;
   
 
 }
 
 .endsection:hover .div2-end{
   
    transform: scale(1.5,1);
   
 
 
 }
 
 
 progress[value] {
    width: 50px;
  }
 
  .endsection:hover progress[value]{
   
    width: 100px;
   
 
 
 }
 
 
 
 @media (max-width: 800px){

    .flex-sec{
        flex-direction: column !important;
      }

      .left-sec{
     width: 500px;
     height:300px;
     background-attachment: fixed; 
     background-size: cover;
     transform: skewX(0deg);
     margin-right: auto;
     margin-left: auto;
  
    
    }

    .right-sec{
      padding-left:0;
    }
  .endsection{
     flex-direction: column;
     width:500px;
  }
 
  .div1-end{
     order:2;
     width:500px;
     overflow-x: scroll;
     text-align: left;
     padding-left:2px;
    
  }
 
  .div2-end{
     order:1;
     border-radius:0 0 0 0;
     margin-right: auto;
     width:500px;
     height:400px
  }
 
  .endsection:hover .div2-end{
   
    transform: scale(1,1);
   
 
 
 }
 
 .middlesection{
    flex-direction: column;
 
 }
 
 .div1-middle,.div2-middle,.div3-middle{
  width:500px;
  height:500px;
  margin:2px;
 }
 
 .div1-middle:hover,.div2-middle:hover,.div3-middle:hover{
    transform: scale(0.9, 0.9);
 
  }

  
 
 
 }